<div class="p-5">
  <div class="d-flex mb-5 justify-content-between align-items-center">
    <form>
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search Name:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" (keyup)="searchData($event)" />
        </div>
      </div>
    </form>
    <button class="btn btn-lg btn btn-primary" (click)="openModalWithData(data)">
      Create Workout
    </button>
  </div>
  <div class="col-md-2  mb-5 ">
    <label for="filterCategory" class="mb-2">Filter by Workout Type:</label>
    <select class="form-control" id="filterCategory" (change)="filterByCategory($event)">
      <option value="">All</option>
      <option *ngFor="let category of getUniqueCategories()" [value]="category">{{ category }}</option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Workouts</th>
        <th scope="col">Number of Workouts</th>
        <th scope="col">Total Workout Minutes</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagedData" [routerLink]="'/templates/' + item.id">
        <td>{{ item.id }}</td>
        <td><ngb-highlight [result]="item.name" [term]="filter.value"></ngb-highlight></td>
        <td>
          <ng-container *ngFor="let workout of item.workouts; let last = last">
            {{ workout.type }}
            <ng-container *ngIf="!last">,</ng-container>
          </ng-container>
        </td>
        <td>
          {{ item.workouts.length }} <br>
        </td>
        <td>
          {{ getTotalMinutes(item.workouts) }}
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteTemplate($event, item.id)">
            <i class="fas fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" (pageChange)="onPageChange($event)"></app-pagination>
  <!-- <div class="dropdown col-md-1">
    <select class="form-control" formControlName="pagesize" (change)="onPageSizeChange()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>   -->
</div>
